<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="Test">
<parameter name="rutaImgML" value="./imagenes/mercadolibre.png"/>
<parameter name="rutaImgCL" value="./imagenes/calculadora.png"/>
<parameter name="rutaImgTQA" value="./imagenes/toolsqa.png"/>


<parameter name="platformName" value="Android"/>
<parameter name="deviceName" value="BPN0218A16001722"/>
<parameter name="platformVersion" value="10"/>
<parameter name="noReset" value="true"/>
<parameter name="autoGrantPermissions" value="true"/>

    <classes>
      <class name="com.testNG.RunTestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
